:root{
    --color--one: #1A1C48;
    --color--one--rgba: #191b3fdf;
    --color--two: #cfcfd1;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;
    --progress-color: #4caf50;
    --background-color: #ddd; /* Light gray for background */

    --layout-description-container-x: 10px;
    --layout-description-container-y: 10px;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../storage/font/Roboto/Roboto-Regular.ttf);
}